[global_config]
  title_transmit_bg_color = "#000000"
  title_inactive_bg_color = "#000000"
[keybindings]
  hide_window = <Shift><Control>a
[profiles]
  [[default]]
    scrollbar_position = hidden
    palette = "#1c1c1c:#ff5f5f:#5f875f:#d7d787:#005fff:#870087:#444444:#d0d0d0:#080808:#ff005f:#87af5f:#ffff5f:#5fafff:#875fff:#808080:#eeeeee"
    force_no_bell = True
    use_system_font = False
    cursor_color = "#d0d0d0"
    foreground_color = "#d0d0d0"
    scroll_on_output = False
    show_titlebar = False
    font = Inconsolata 14
    background_color = "#1c1c1c"
    scrollback_lines = 5000
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
      size = 1020, 550
[plugins]
