[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  title_inactive_bg_color = "#000000"
  title_transmit_bg_color = "#000000"
[keybindings]
  hide_window = <Shift><Control>a
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      size = 1020, 550
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#1c1c1c"
    cursor_color = "#d0d0d0"
    font = Inconsolata 13
    force_no_bell = True
    foreground_color = "#d0d0d0"
    palette = "#1c1c1c:#ff5f5f:#5f875f:#d7d787:#005fff:#870087:#444444:#d0d0d0:#080808:#ff005f:#87af5f:#ffff5f:#5fafff:#875fff:#808080:#eeeeee"
    scrollback_infinite = True
    scrollback_lines = 5000
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
