[core]
    editor = nvim
    excludesfile = "~/.dotfiles/git/gitignore_global"
    whitespace = trailing-space,space-before-tab
[branch]
    autosetupmerge = true
[push]
    default = tracking
[commit]
    template = "~/.dotfiles/git/gitmessage"
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[alias]
    undo = reset --soft HEAD^
[user]
	name = Mathias Brouilly
	email = mathias@brouilly.fr
[github]
	user = bymathias
