snippet // "comments"
# $1
# ########################## #
$0
endsnippet

snippet /// "comments"
# ########################################## #
#   $1
# ########################################## #
$0
endsnippet
