snippet / "comments one-line (level 1)"
/* $1 */
$0
endsnippet

snippet // "comments"
/*  $1
   ===================================== */
$0
endsnippet

snippet /// "comments"
/*  $1
   ========================================================================== */
$0
endsnippet

snippet v "Variable"
var(--$1)$0
endsnippet
