snippet //-- "Comment Level 3"
// --------------------------------------------------------------------
//  $1
// --------------------------------------------------------------------
$0
endsnippet

snippet //- "Comment Level 2"
// -----------------------------------------------
//  $1
// -----------------------------------------------
$0
endsnippet

snippet // "Comment Level 1"
/**
 *  $1
 */
$0
endsnippet
