snippet tmpl "Default template"
<template>
  <div class="${1:name}">
    ${2: content of $1}
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: '${3:$1}',$0
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
endsnippet
