#!/bin/bash


## Basic
## ============================ #

cdl() { cd "$1" && ls; }
mkc() { mkdir -p "$1" && cd "$1"; }


## New script
## Usage: new-script <filename>
## ============================ #

new-script()
{
    [[ -e "$1" ]] && echo "'$1' already exists" && return
    echo -e "#!/bin/bash\n\nset -e\n" > "$1" && \
    chmod a+x "$1" && \
        vim "$1"
}


## Colored man pages with less command
## @see http://bit.ly/IqWXtu
## ============================ #

man() 
{
    env \
        LESS_TERMCAP_mb=$(printf "\033[1;31m") \
        LESS_TERMCAP_md=$(printf "\033[1;31m") \
        LESS_TERMCAP_me=$(printf "\033[0m") \
        LESS_TERMCAP_se=$(printf "\033[0m") \
        LESS_TERMCAP_so=$(printf "\033[1;44;33m") \
        LESS_TERMCAP_ue=$(printf "\033[0m") \
        LESS_TERMCAP_us=$(printf "\033[1;32m") \
    man "$@"
}


## Git
## ============================ #

git-init()
{
    if [[ -d ".git" ]]
    then
        echo "Already a git repository"
        exit
    fi
    git init &&
    git add --all &&
    git commit -m 'Initial commit' &&
    git tag -a v0.1.0 -m "Version 0.1.0"
}
